//- © 2019 Rocket Software, Inc. or its affiliates. All Rights Reserved
//- Written by Andrew Gorovoy 
//- This is an html template for a filter option. Data is passed in through the parent elemnet
mixin navOption(rel,value)
    a.collapse-item(href='#' class='filter-option' rel=rel value=value)= value