//- © 2019 Rocket Software, Inc. or its affiliates. All Rights Reserved
//- Written by Andrew Gorovoy 
mixin search()
    div(class="input-group mb-3")
    div(class="input-group-prepend")
        span(class="input-group-text" id="inputGroup-sizing-default") Search:
    input(type="text" id="search" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default")